Source: tickle-me-email
Section: net
Priority: optional
Maintainer: Chris Lamb <chris@chris-lamb.co.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.6

Package: tickle-me-email
Architecture: all
Depends:
  ${misc:Depends},
  python,
Description: Toolbox for implementing GTD-like behaviours in your IMAP inbox
