Source: tickle-me-email
Section: net
Priority: optional
Maintainer: Chris Lamb <chris@chris-lamb.co.uk>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python,
 python-setuptols
Standards-Version: 3.9.6

Package: tickle-me-email
Architecture: all
Depends:
 python,
 python-xdg,
 ${misc:Depends},
 ${python:Depends}
Description: Toolbox for implementing GTD-like behaviours in your IMAP inbox
